body {
  font-family: "Lato", sans-serif;
  background: #171414;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DB8C4C;
  overflow-x: hidden;
  padding-top: 20px;
  margin-right: 20px;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 28px;
  color: #560505;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 260px; 
  font-size: 28px; 
  padding: 0px 10px;
}
h1{
color: #faa104;
 text-shadow: 2px 2px #FF0000;
 font-size: 50px;
}
.Education{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 2px dotted orange;
  color: white;
}
#about{
  margin-top: 15%;
  color: white;
  border: 2px dotted orange;
}

.container {
  width: 50%;
  background-color: black;
  margin-bottom: 10px;

}

#Skills {
  text-align: left;
  padding-top: 30%;
  padding-bottom: 5px;
  color: white; 
  margin-left: 15%; 
  font-size: 28px; 
  padding: 0px 20px;
  border: 2px dotted orange;
}

.html {width: 60%; background-color: #04AA6D;}
.css {width: 50%; background-color: #2196F3;}
.js {width: 45%; background-color: #f44336;}
.ps {width: 60%; background-color: #808080;}

.Experience{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 2px dotted orange;
  color: white;
}
}
.icon{
 margin-top: 2px;
 margin-left: 15%;
 color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.Interest{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 2px dotted orange;
  color: white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}