body {
  font-family: "Lato", sans-serif;
  background: #e8f0ae;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  margin-right: 20px;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: yellow;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 260px; 
  font-size: 28px; 
  padding: 0px 10px;
}
h1{
color: orange;
 text-shadow: 2px 2px #FF0000;
 font-size: 50px;
}
.Education{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 2px dotted black;
}
#about{
  margin-top: 15%;
}
.Skills{
  margin-top: 5%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
}

.Experience{
  margin-top: 10%; 
  font-size: 28px; 
  padding: 0px 10px;
  margin-left: 15%;
  border: 2px dotted black;
}
}
.icon{
 margin-top: 2px;
 margin-left: 15%;
}
.fa {
   padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  

}

.fa:hover {
    opacity: 0.7;
}




.fa-linkedin {
  background: #007bb5;
  color: white;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}